*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.container{
    max-width: 90%;
    margin:  auto;
    padding: auto;

}
/* Navbar_container */
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;


}
.options{
    flex-grow: 1 ;
    padding-left: 55px;

}

.options-list{
    display: flex;
    align-items: center;
    list-style: none ;
    gap: 33px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 4px;
    color: #0000;

}

.list li{
    cursor: pointer;
}
.list li:hover{
    color: #5955b3;

}

.nav-button{
    padding:14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 11px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    /* line-height: 2px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;

}
.section-left-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;

}

.section-left-h1{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 44px;
    color: #3c2f60;
    text-align: left;
    margin-left: 12%;
    
    
}
.section-left-h1 span{
    color: #5955b3;

}
.section-para{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 8px;
    width: 100%;
    color: #828282;
    margin-top: 11px;
    text-align: left;
    margin-left: 3px;
}

  .nav-button{
   
   
  padding:14px 28px;
  background-color: #5955b3;
  border: none;
  border-radius: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size:8px;
  line-height: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
    
  }
  a{
    text-decoration: none;
  }
  .nav-button-btn{
      position: relative;
      margin-left: 12%;
      margin-top: 11%;
    padding:14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 11px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size:8px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    
   

    
  }

  .para1{
    display: flex;
    align-items: center;
   
    margin-left: 10%;
  }
  div .section-right-img{
    .bottomright {
        position: absolute;
        bottom: 8px;
        right: 16px;
       
      }
   
  }